#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
    padding: 15px;
  background-color: #04aa6d;
  color: white;
    border-bottom: 1px solid #ddd;
}

td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  /* background-color: coral;
  color: white; */
  /* transform: scale(1.05); */
  border-left: 3px solid #04aa6d;
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 50px;
}

label {
  display: block;
}

input[type="text"],input[type="number"],
select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}




input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



input[type="submit"]:hover {
  background-color: #45a049;
}

.conatainer_root {
  display: flex;
  gap: 100px;
}

.container_table {
  max-height: 450px;
  overflow-y: auto;
}

thead {
position: sticky;
top: 0;
}


button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  opacity: 50%;
}

.btn_edit {background-color: #04AA6D;} /* Green */
.btn_delete {background-color: #f44336;} /* Red */ 